.dare-box {
    min-width: 87%;
    padding: 20px;
    background-color: #4586ef;
    scroll-snap-align: start;
    text-align: center;
    border-radius: 26px;
    color: black;
    font-size: 31px;
    font-weight: 800;
    color: white;
    align-items: center;
}
